*{
  box-sizing: border-box;
}
.app-wrapper{
  margin: 40px;
  width: 1200px;
  margin: 0 auto;


  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}



.app-wrapper-dialogs__container{
  background-color: rgba(196, 4, 4, 0.349);
  grid-area: c;
  padding: 5px;
}
a{
  text-decoration: none;
  list-style: none;
}